<div ng-controller="configController" flex>
    <md-content layout="column" flex>
      <% include ../common/head-toolbar %>
      <md-tabs md-stretch-tabs="always" md-border-bottom>
        <md-tab label="Pointages"></md-tab>
        <md-tab label="Employes"></md-tab>
      </md-tabs>
    </md-content>
  </div>
  